# GET DATA IRIS

In [1]:
pip install mysql-connector

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 49.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py) ... done
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp39-cp39-linux_x86_64.whl size=247965 sha256=011a5d36792be0f30b28dccc997b4f4da6c2658c7ff336ae8993f8cf40091ba8
  Stored in directory: /root/.cache/pip/wheels/7b/14/39/5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [3]:
pip install pyodbc

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyodbc
  Downloading pyodbc-4.0.35-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (329 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 329.8/329.8 KB 6.7 MB/s eta 0:00:00
Installing collected packages: pyodbc
Successfully installed pyodbc-4.0.35

In [4]:
import pyodbc
import pandas as pd
import psycopg2
import mysql.connector

## PostgreSQL Local (SepalLength)

In [6]:
#conn = psycopg2.connect(
#    database="iris",
#    user="PostgreSQL 15",
#    password="Fakhruddin19",
#    host="localhost",
#    port="5432"
#)

#cur = conn.cursor()

#cur.execute("SELECT sepallength FROM sepallength")

#sl = cur.fetchall()

#sl=pd.DataFrame(sl,columns=['sepalLength'])
#sl.head()

## PostgreSQL Elephant (SepalWidth)

In [7]:
#db = psycopg2.connect(
#    database="ltqdtdbz",
#    user="ltqdtdbz",
#    password="QGLXjD0lV9HrhH8A7WMEqN78Aw1EaSqT",
#    host="floppy.db.elephantsql.com",
#    port="5432"
#)
#query = "SELECT * FROM sepalwidth"
#sw = pd.read_sql(query, db)
#sw

## MYSQL Local (PetalLength)

In [9]:
#conn = mysql.connector.connect(
#    host="localhost",
#    user="root",
#    password="",
#    database="prosain(200411100124)"
#)

#mycursor = conn.cursor()

#mycursor.execute("SELECT petallength FROM petallength")
#result = mycursor.fetchall()

# # plot the data to data frame
#pl = pd.DataFrame(result, columns=['petallength'])
#pl

## SQL Server (Petal Width, Class)

In [12]:
#import pyodbc
#import pandas as pd

# server = 'LAPTOP-KAV2V9MP\SQLEXPRESS01' 
# database = 'prosaindata' 

#cnxn = pyodbc.connect(r'Driver=ODBC Driver 17 for SQL Server;Server=LAPTOP-KAV2V9MP\SQLEXPRESS01;Database=prosaindata;Trusted_Connection=yes;')  
#cursor = cnxn.cursor()

# select 26 rows from SQL table to insert in dataframe.
#query = "SELECT petalwidth, species FROM petalwidth"
#pwcls = pd.read_sql(query, cnxn)
#print(pwcls)

In [ ]:
# gabung semua data frame
#df = pd.concat([sl, sw, pl, pwcls], axis=1)

In [ ]:
df.head()

  sepalLength id;sepalwidth petallength  petalwidth        class
0         5.1         1;3.5         1.4         0.2  Iris-setosa
1         4.9           2;3         1.4         0.2  Iris-setosa
2         4.7         3;3.2         1.3         0.2  Iris-setosa
3         4.6         4;3.1         1.5         0.2  Iris-setosa
4         5.0         5;3.6         1.4         0.2  Iris-setosa

In [ ]:
df

    sepalLength id;sepalwidth petallength  petalwidth           class
0           5.1         1;3.5         1.4         0.2     Iris-setosa
1           4.9           2;3         1.4         0.2     Iris-setosa
2           4.7         3;3.2         1.3         0.2     Iris-setosa
3           4.6         4;3.1         1.5         0.2     Iris-setosa
4           5.0         5;3.6         1.4         0.2     Iris-setosa
..          ...           ...         ...         ...             ...
145         6.7         146;3         5.2         2.3  Iris-virginica
146         6.3       147;2.5         5.0         1.9  Iris-virginica
147         6.5         148;3         5.2         2.0  Iris-virginica
148         6.2       149;3.4         5.4         2.3  Iris-virginica
149         5.9         150;3         5.1         1.8  Iris-virginica

[150 rows x 5 columns]